[Unit]
Description=UiTdatabank Websocket server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
User=www-data
Group=www-data
PIDFile=/var/run/udb3-websocket-server.pid
EnvironmentFile=-/etc/default/udb3-websocket-server
WorkingDirectory=/var/www/udb3-websocket-server
ExecStart=/usr/bin/node src/app.js
Restart=on-failure
RestartSec=10s
Type=simple

[Install]
WantedBy=multi-user.target
